<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/CollapsibleSelector.css">
    <link rel="stylesheet" href="/css/selectBox.css">

    <script>
        const options = {
            // tell Dojo where to load other packages
            dojoConfig: {
                async: true,
                packages: [
                    {
                        location: 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js',
                        name: 'Chart'
                    }
                ]
            }
        };
    </script>
    <link rel="stylesheet" href="https://js.arcgis.com/4.15/esri/themes/light/main.css">
    <title>Dashboard - Map</title>



    <style>
        html,
        body, #viewDiv {
            padding: 0;
            margin:0;
            height: 100%;
            width: 100%;
            position:absolute;
        }
    </style>



</head>

<body style="background-color: #404040">
<!--sidebar -->
<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>

    <img href="../api/home" src="/images/logo-EPN-blanco.png" style="padding-top: 8px">
    <a class="navbar-brand text-white d-block mx-auto text-center py-3 mb-4 bottom-border"></a>

    <ul class="navbar-nav flex-column mt-4">
        <li class="nav-item"><a href="../api/home" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-home text-light fa-lg mr-3"></i>Inicio</a></li>
        <li class="nav-item"><a href="../api/dashboardNew" class="nav-link text-white p-3 mb-2 current"><i class="fas fa-map text-light fa-lg mr-3"></i>Mapa</a></li>
        <li class="nav-item"><a href="../api/report" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-chart-bar text-light fa-lg mr-3"></i>Reportes</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-file-alt text-light fa-lg mr-3"></i>Documentación</a></li>
    </ul>
    <a class="navbar-brand text-white d-block mx-auto text-center py-3 mb-4 bottom-border"></a>

    <p style="text-align: center; color:white ">Quito - 2020 </p>
</div>
<!--end sidebar -->

<!-- navbar -->
<section>
    <div id="main" style="background: #1A1A1D ">
        <div class="row" style="background: #1A1A1D">
            <div id="btn" class="col-sm-10 col-6">
                <button class="openbtn btn-sm" onclick="openNav()">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
            <div class="col-sm-2 col-6" align="right">
                <div class="col-sm-6 navbar-brand" style="color: #eeeeee; font-size: 20px; float:right;">
                    <img src="/images/logo-epn.png" alt="Logo"
                         style="height: 50px; margin-bottom: -10px; margin-top: -10px">
                </div>

            </div>
        </div>
    </div>
</section>
 <!--end navbar -->

<!--DASHBOARD----->

<div id="content2" class="row" style="margin-top: 75px; height: 650px;">

    <!-- MAP -->
    <div class="col-sm-9">
            <div id="viewDiv"></div>
    </div>
    <!-- end MAP -->

    <!-- LAYER SELECTOR -->
    <div class="col-sm-3 dashImage" style="width: 100%">

        <h2 style="margin-top: 5%; text-align: center; justify-self: center">Selector de Capas</h2>

        <button type="button" class="collapsible" style="border-radius: 10px 10px 0px 0px" >Resultados Censo</button>
        <div class="content" onclick="obtenerValor()">
        <label class="container">Resultados Análisis 2010
            <input id="1" type="radio"  name="radio" value="1">
            <span class="checkmark" ></span>

        </label>
        <label class="container">Resultados Análisis 2001
            <input type="radio" name="radio" value="2">
            <span class="checkmark"> </span>
        </label>
        <label class="container">Resultados Análisis 1990
            <input type="radio" name="radio" value="3">
            <span class="checkmark"></span>
        </label>
        </div>
        <button type="button" class="collapsible" >Gentrificación - Sectores</button>
        <div class="content" onclick="obtenerValor()">
            <label class="container">Gentrificación 1990-2001
                <input id="1" type="radio"  name="radio" value="4">
                <span class="checkmark" ></span>

            </label>
            <label class="container">Gentrificación 2001-2010
                <input type="radio" name="radio" value="5">
                <span class="checkmark"></span>
            </label>

        </div>

        <button type="button" class="collapsible" style="border-radius: 0px 0px 10px 10px">Gentrificación - Barrios</button>
        <div class="content" onclick="obtenerValor()">
            <label class="container">Gentrificación 1990-2001
                <input id="1" type="radio"  name="radio" value="6">
                <span class="checkmark" ></span>

            </label>
            <label class="container">Gentrificación 2001-2010
                <input type="radio" name="radio" value="7">
                <span class="checkmark"></span>
            </label>

        </div>

    </div>
    <!-- end LAYER SELECTOR -->

</div>

<div id="content3" class="row" style="background-color:#404040;display: none ">
    <div class="col-sm-12" >
        <div class="chart-container2">
            <canvas id="grafico1" style="height: 600px!important" >


            </canvas>

        </div>

    </div>

</div>
<div id="content4" class="row" style="background-color:#404040; margin-top:30px;display: none ">
    <div class="col-sm-6" >
        <div class="chart-container">
            <canvas id="grafico2" style="margin-bottom: 10px">


            </canvas>

        </div>

    </div>
    <div class="col-sm-6" >
        <div class="chart-container">
            <canvas id="grafico3" style="margin-bottom: 10px" >


            </canvas>

        </div>

    </div>

</div>
<div id="content5" class="row" style="background-color:#404040; margin-top:30px; display: none ">
    <div class="col-sm-6" >
        <div class="chart-container" >
            <canvas id="grafico4"  style="margin-bottom: 10px">


            </canvas>

        </div>

    </div>

    <div class="col-sm-6" >
        <div class="chart-container">
            <canvas id="grafico5"  style="margin-bottom: 10px">


            </canvas>

        </div>

    </div>

</div>
<!-- end DASHBOARD -->
<section>
    <!-- Footer -->
    <footer id="footer1" class="font-small" style="background-color: #265077; bottom: 0px; display: none;">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3" style="color: white; font-weight: bold">
            2020 - Escuela Politécnica Nacional
        </div>
        <!-- Copyright -->

    </footer>
</section>
<!-- Footer -->






<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://js.arcgis.com/4.13/"></script>
<script src="/js/mapFunctions.js"></script>
<script src="/js/selectorBox.js"></script>
<script src="/js/CollapsibleSelector.js"></script>

<script >
    function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
        document.getElementById("content2").style.marginLeft = "250px";
        document.getElementById("content3").style.marginLeft = "250px";
        document.getElementById('btn').style.visibility = 'hidden';
    }
    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft= "0";
        document.getElementById("content2").style.marginLeft= "0";
        document.getElementById("content3").style.marginLeft = "0";
        document.getElementById('btn').style.visibility = 'visible';
    }
</script>




</body>

