<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"
            integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Gentrificación Centro Historico</title>


</head>
<body>

<!--sidebar-->

<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>

    <img href="../api/home" src="/images/logo-EPN-blanco.png" style="padding-top: 8px">
    <a class="navbar-brand text-white d-block mx-auto text-center py-3 mb-4 bottom-border"></a>

    <ul class="navbar-nav flex-column mt-4">
        <li class="nav-item"><a href="../api/home" class="nav-link text-white p-3 mb-2 current"><i
                        class="fas fa-home text-light fa-lg mr-3"></i>Inicio</a></li>
        <li class="nav-item"><a href="../api/dashboardNew" class="nav-link text-white p-3 mb-2 sidebar-link"><i
                        class="fas fa-table text-light fa-lg mr-3"></i>Mapa</a></li>
        <li class="nav-item"><a href="../api/report" class="nav-link text-white p-3 mb-2 sidebar-link"><i
                        class="fas fa-chart-bar text-light fa-lg mr-3"></i>Reportes</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-white p-3 mb-2 sidebar-link"><i
                        class="fas fa-file-alt text-light fa-lg mr-3"></i>Documentación</a></li>
    </ul>
    <a class="navbar-brand text-white d-block mx-auto text-center py-3 mb-4 bottom-border"></a>

    <p style="text-align: center; color:white ">Quito - 2020 </p>
</div>
<!-- end sidebar -->

<!-- navbar -->
<section>
    <div id="main" style="background: #1A1A1D ">
        <div class="row" style="background: #1A1A1D">
            <div id="btn" class="col-sm-10 col-6">
                <button class="openbtn btn-sm" onclick="openNav()">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
            <div class="col-sm-2 col-6" align="right">
                <div class="col-sm-6 navbar-brand" style="color: #eeeeee; font-size: 20px; float:right;">
                    <img src="/images/logo-epn.png" alt="Logo"
                         style="height: 50px; margin-bottom: -10px; margin-top: -10px">
                </div>

            </div>
        </div>
    </div>
</section>
<!-- end navbar -->

<section>
    <div id="cover">
        <div class="row CoverImage">
            <div class="col-sm-12">
                <div class="card text-center card1" style="background-color: transparent">
                    <div class="card-body"
                         style="background: rgba(0,0,0,0.41); padding: 40px 35px; min-width: 300px; display: inline-block">
                        <h5 class="card-title card-title1 ">Gentrificación</h5>
                        <p class="card-text card-text1" >Centro Histórico de Quito: 1990 - 2010</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>

    <div id="content2" style="background: #1A1A1D">

        <div class="row">
            <div class="col-sm-12">
                <div class="card text-center" style="margin-top: 20px; background-color: transparent;border: none">
                    <div class="card-body"
                         style="background: transparent; padding: 40px 35px; display: inline-block;border:none">
                        <h5 class="card-title h5Ed" data-aos="zoom-in" style=" color:#ffffff;">¿Qué es la Gentrificación?</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 ">
                <div class="card text-center" data-aos="fade-right" data-aos-easing="ease-in-sine"
                     style="background-color: transparent; border: none">
                    <div style="margin-top: 30px; margin-bottom: 80px">
                        <div class="card-body"
                             style="background: rgba(0,0,0,0.41); padding: 40px 35px; display: inline-block; max-width: 350px; min-height: 410px">

                            <h5 class="card-title h5Ed" style="font-size: 2em; color:#ffffff">Deinifición</h5>
                            <p class="card-text card-text2" style="color: #fff; text-align: justify">
                                <br> Es un fenómeno que hace referencia a la proliferación de políticas públicas
                                que tienen el objetivo de desplazar a las clases populares de las
                                áreas centrales acompañado por una inversión inmobiliaria masiva que materializa la
                                reconquista de los centros urbanos para las clases pudientes.
                            </p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-xs-6" style="padding-right: 0px;">
                <div class="card text-center" data-aos="fade-left" style="background-color: transparent; border: none">
                    <div style="margin-top: 30px; margin-bottom: 80px">
                        <div class="card-body"
                             style="background: rgba(0,0,0,0.41); padding: 40px 35px; display: inline-block; max-width: 350px ; min-height: 410px">

                            <h5 class="card-title h5Ed" style="font-size: 2em; color:#ffffff">Gentrificación
                                Turística</h5>
                            <p class="card-text card-text2" style="color: #fff; text-align: justify">
                                <br>Es observable principalmente en los centros urbanos cuya cambio a lo largo del
                                tiempo
                                se ha centrado en mejoras de la urbe que permiten brindar al turista un espacio en el
                                que pueda vivir
                                una experiencia única.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<!-- Theory -->
<section>
    <div id="content3" style="background: #1A1A1D;justify-content: center;justify-items: center">
        <div class="row CoverImage"
             style="background-image:  linear-gradient(rgba(0, 0, 0,.5), rgba(0, 0, 0, .3)), url(https://cdn.pixabay.com/photo/2014/04/02/19/09/quito-ecuador-308162_960_720.jpg)">
            <div class="col-sm-12" style="text-align: center">
                <div class="card text-center" data-aos="zoom-in-up" data-aos-easing="ease-in-sine"
                     style="background-color: transparent; border: none">
                    <div style="margin-top: 20px; margin-bottom: 20px">
                        <div class="card-body"
                             style="background: transparent; padding: 40px 35px; display: inline-block; max-width: 850px">
                            <h5 class="card-title h5Ed" style="color:#ffffff">Modelo de Análisis</h5>
                        </div>
                    </div>
                </div>

                <div class="row" style="justify-content: center;justify-items: center">
                    <div class="col-md-10" >
                        <div class="card text-center" data-aos="zoom-in" data-aos-easing="ease-in-sine"
                             style="background-color: transparent; border: none">
                            <div style="margin-top: 40px; margin-bottom: 40px">
                                <div class="card-body"
                                     style="background: rgba(0,0,0,0.41); padding: 40px 35px; display: inline-block; min-height: 410px">
                                    <div class="row" >
                                        <div class="col-sm-12">
                                            <h5 class="card-title h5Ed" style="font-size: 1.8em; color:#ffffff">Modelo para
                                                identificar áreas gentrificadas con Datos Censales</h5>
                                            <p class="card-text card-text2" style="color: #fff; text-align: justify">
                                                <br> Para el desarrollo de esta investigación se utilizó la metodología
                                                propuesta por el Dr. Daniel J. Hammel, en la que se plantea
                                                el uso de la información de los Censos de Población y Vivienda para
                                                identificar las zonas en las que el fenómeno de gentrificación
                                                se suscita en un área de la urbe. <br><br>
                                                La información censal ha sido obtenida a través del Instituto Nacional de
                                                Estadísticas y Censos (INEC), quien es la entidad encargada
                                                de registrar y analizar los Censos de Población y Vivienda en el Ecuador. La
                                                muestra censal ha sido de tres períodos censales, que son:
                                                1990 , 2001 y 2010.
                                            </p>
                                        </div>

                                        <div class="col-sm-12">
                                            <h5 class="card-title h5Ed" style="font-size: 1.8em; color:#ffffff; padding-top: 30px"><br>Variables del modelo</h5>
                                            <br>
                                            <div class="row" style="padding-top: 20px" style="justify-content: center;justify-items: center">
                                                <div class="col-md-1"></div>
                                                <div class="col-md-2 card-text3">
                                                    <img src="/images/persona-empleo.png"  style="min-width: 4.5em">
                                                    <p style="color:white; text-align: justify-all"><br>Cantidad de personas con empleo.</p>
                                                </div>
                                                <div class="col-md-2 card-text3">
                                                    <img src="/images/empleo-adm.png" style="min-width: 4.5em">
                                                    <p style="color:white; text-align: justify-all"><br>Cantidad de personas con empleo administrativo o técnico.</p>
                                                </div>
                                                <div class="col-md-2 card-text3">
                                                    <img src="/images/educacion-superior.png" style="min-width: 4.5em">
                                                    <p style="color:white; text-align: justify-all"><br>Cantidad de personas con 4+ años de educación superior.</p>
                                                </div>

                                                <div class="col-md-2 card-text3">
                                                    <img src="/images/edad-pob.png" style="min-width: 4.5em">
                                                    <p style="color:white; text-align: justify-all"><br>Cantidad de personas con 25+ años.</p>
                                                </div>
                                                <div class="col-md-2 card-text3">
                                                    <img src="/images/cambio-vivienda.png" style="min-width: 4.5em">
                                                    <p style="color:white; text-align: justify-all"><br>Cambios en la vivienda</p>
                                                </div>
                                                <div class="col-md-1"></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Features -->
<section>
    <div id="content4">

        <div class="row CoverImage"
             style="background-image:  linear-gradient(rgba(0, 0, 0,.5), rgba(0, 0, 0, .3)), url(https://www.casagangotena.com/wp-content/uploads/2019/09/san-francisco-plaza-evening-1200x800.jpg)">
            <div class="col-sm-12" style="text-align: center">
                <div class="card text-center" data-aos="fade-right" data-aos-easing="ease-in-sine"
                     style="background-color: transparent; border: none">
                    <div style="margin-top: 40px; margin-bottom: 40px">
                        <div class="card-body"
                             style="background: transparent; padding: 40px 35px; display: inline-block; max-width: 850px">
                            <h5 class="card-title h5Ed" style= color:#ffffff">¿Tienes preguntas?
                                Nosotros tenemos mapas</h5>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-right: 10px; margin-left: 10px">
                    <div class="col-ll-4 col-mm-6 col-ss-12">
                        <div class="card"  data-aos="fade-up"
                             style="height:100%;background: rgba(0,0,0,0.41); text-align: center; align-items: center; margin-bottom: 50px;">
                            <a href="../api/dashboardNew">
                                <img class="card-img-top" src="/images/mapa-circulo-blanco.png"
                                     style="max-width: 7.5em; margin-top: 10px "></a>
                            <div class="card-body card-body-1">
                                <h5 class="card-title" style="font-size: 2em; color:#ffffff">Mapa Interactivo</h5>
                                <p class="card-text card-text2" style="color: #fff; text-align: center"><br>Visualización del
                                    fenómeno de Gentrificación en el Centro Histórico de Quito con datos obtenidos de
                                    los Censos de Población y Vivienda.</p>
                                <br>
                                <a href="../api/dashboardNew">
                                    <img src="/images/acceder-azul.png" style="max-width: 30px; cursor: pointer"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-ll-4 col-mm-6 col-ss-12">
                        <div class="card" data-aos="fade-up"
                             style=" height:100%;background: rgba(0,0,0,0.41); text-align: center; align-items: center; margin-bottom: 50px;">
                            <img class="card-img-top" src="/images/reporte-grafica-circulo-blanco.png"
                                 style="max-width: 7.5em; margin-top: 10px ">
                            <div class="card-body card-body-1">
                                <h5 class="card-title" style="font-size: 2em; color:#ffffff">Reportes</h5>
                                <p class="card-text card-text2" style="color: #fff; text-align: center"><br>Visualización de
                                    reportes obtenidos como resultado del análisis de los datos para el período de
                                    1990-2010.</p>
                                <br>
                                <img src="/images/acceder-azul.png" style="max-width: 30px; cursor: pointer">
                            </div>
                        </div>
                    </div>
                    <div class="col-ll-4 col-mm-12 col-ss-12">
                        <div class="card" data-aos="fade-up"
                             style="heighlt:100%;background: rgba(0,0,0,0.41); text-align: center; align-items: center; margin-bottom: 50px;">
                            <img class="card-img-top" src="/images/documentacion-circulo-blanco.png"
                                 style="max-width: 7.5em; margin-top: 10px ">
                            <div class="card-body card-body-1">
                                <h5 class="card-title " style="font-size: 2em; color:#ffffff">Ayuda</h5>
                                <p class="card-text card-text2" style="color: #fff; text-align: center"><br> Una guía que
                                    facilitará tu experiencia manejando el mapa interactivo y los reportes.</p>
                                <br>
                                <img href="#" src="/images/acceder-azul.png" style="max-width: 30px; cursor: pointer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end Features-->
<section>
    <!-- Footer -->
    <footer id="footer" class="font-small" style="background-color: #265077; bottom: 0px">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3" style="color: white; font-weight: bold">
            2020 - Escuela Politécnica Nacional
        </div>
        <!-- Copyright -->
    </footer>
</section>
<!-- Footer -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<link rel="stylesheet" href="/css/style.css">
<script>
    function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
        document.getElementById("cover").style.marginLeft = "250px";
        document.getElementById("content2").style.marginLeft = "250px";
        document.getElementById("content4").style.marginLeft = "250px";
        document.getElementById("content3").style.marginLeft = "250px";
        document.getElementById("footer").style.marginLeft = "250px";
        document.getElementById('btn').style.visibility = 'hidden';
    }
    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
        document.getElementById("cover").style.marginLeft = "0";
        document.getElementById("content2").style.marginLeft = "0";
        document.getElementById("content4").style.marginLeft = "0";
        document.getElementById("content3").style.marginLeft = "0";
        document.getElementById("footer").style.marginLeft = "0";
        document.getElementById('btn').style.visibility = 'visible';
    }
</script>
<script>
    AOS.init();
</script>
</body>
</html>
